HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### H2 Database ###
*.trace.db
*.lock.db
*.h2.db

### PVS Studio ###
*.plog
*.tasks
*.pvsconfig
*.PVS-Studio.*
PVS-Studio.tasks
PVS-Studio.report.*
PVS-Studio_*.log
PVS-Studio_*.html